doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title= title
    link(rel='stylesheet', href='style.css')
  body
    h1.subject
      | #{title}
      small
        a(href=doc) Markdown
        a(href=repo) Github
    .container
      each collection in collections
        .block
          h3= collection.title
          each item in collection.commands
            .item
              .title= item.title
              code.code= item.command
