doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='style.css')
  body
    h1.subject= title
    .container
      each collection in collections
        .block
          h3= collection.title
          each item in collection.commands
            .item
              .title= item.title
              code.code!= item.command
