h1= title
a(href=url) 查看卡片式效果
br

ul
  each collection, cid in collections
    each item, id in collection.commands
      li
        a(href=`#${cid}-${id}`)= item.title

each collection, cid in collections
  h2= collection.title
  each item, id in collection.commands
    div(id=`${cid}-${id}`)
    h3= item.title
    .
      ``` sh
      !{item.command}
      ```
