h1= title
a(href=url) 查看卡片式效果
br

h2 目录
each collection, cid in collections
  h4= collection.title
  ul
    each item, id in collection.commands
      li
        a(href=`#${cid}-${id}`)= item.title

each collection, cid in collections
  h2= collection.title
  each item, id in collection.commands
    div(id=`${cid}-${id}`)
    h4= item.title
    = '\n'
    .
      ``` sh
      !{item.command}
      ```
    = '\n'
